<div class="d-flex full-screen-container-index">
  <!-- flats -->
  <div class="left-container">
    <div class="search-results">
      <h3>This will be search result</h3>
      <h1>Stays in search result city</h1>
      <h2>filter options</h2>
    </div>
    <div class="index-flat-cards">
      <% @flats.each do |flat| %>
        <div class="index-flat-card">
          <% if flat.photos.attached? %>
            <%= render 'index_carousel', flat: flat %>
          <% else %>
            <img src="https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
          <% end %>
          <div class="index-card-details">
            <div>
              <h2 class = "small-light-grey-text"><%= flat.flat_type %></h2>
              <h2 class = "flat-title-index"><%= flat.title %></h2>
              <h2 class = "small-light-grey-text"><%= flat.bedrooms %> bedrooms - <%= flat.bathrooms %> baths</h2>
            </div>
            <div class="index-flat-card-pricing">
              <div class = "flat-price"><strong>$<%= flat.price %></strong> / night</div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <!-- map -->
  <div class="right-container">
    <div id="map"
       style="width: 100%; height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>
  </div>
</div>
